<?php

$env = [
    'DB_HOST' => '127.0.0.1',
    'DB_USERNAME' => 'root',
    'DB_PASSWORD' => '',
    'DB_PORT' => 3306,
    'DEFAULT_SCHEMA' => 'jawadb',
    'DEBUG' => true,
    'DISABLE_COLUMN_PREFIXING' => false,
    'JAWACRYPT_SECRET' => '0', //CHANGE TO A NUMBER BETWEEN 0 AND 999999
    'JAWACRYPT_SALT' => '', //CHANGE TO A RANDOM STRING
    'ENVIRONMENT' => 'development',
];