<?php

$env = [
    'DB_HOST' => '127.0.0.1',
    'DB_USERNAME' => 'jawa',
    'DB_PASSWORD' => 'jawa',
    'DB_PORT' => 3306,
    'DEFAULT_SCHEMA' => 'jawadb',
    'DEBUG' => true,
    'FORCE_TABLE_PREFIXING' => true,
];